{
  "plugins": [
    ["transform-builtin-extend", {
      "globals": ["Error"],
      "approximate": true
    }]
  ],
  "env" : {
    "test" : {
      "presets": [
        ["env", { "targets": { "node": 5 } }]
      ]
    },
    "cjs" : {
      "plugins": [
        "add-module-exports",
        ["transform-builtin-extend", {
          "globals": ["Error"],
          "approximate": true
        }]
      ],
      "presets": [
        ["env", { "modules": "commonjs" }]
      ]
    },
    "es6" : {
      "plugins": [
        ["transform-builtin-extend", {
          "globals": ["Error"],
          "approximate": true
        }]
      ],
      "presets": [
        ["env", { "modules": false }]
      ]
    }
  }
}
